body{
    background-image: url("../images/mesacasino.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: underline;
    font-size: 50px;
    font-style: italic;
}
h4{
    color: white;
    font-size: 15px;
}
p{
    text-align: justify;
}
input{
    width: 80px;
    height: 40px;
    cursor: pointer;
    font-size: 15px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    border-style: none;
}
input[type="button"]:hover{
    background-color: rgb(0, 0, 0);
    color: rgba(255, 255, 255, 0.5);
}
.dealer{
    width: 600px;
    height: 150px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.2);;
    border-width: 3px;
    border-style: solid;
    border-color: white;
    border-radius: 15px;
}
.dealer img{
    padding-top: 20px;
    padding-left: 5px;
    height: 90%;
}
.players{
    text-align: center;
    padding-top: 20px;
    display: flex;
}
.container-player{
    padding-top: 40px;
    margin: auto;
}
.player{
    width: 400px;
    height: 250px;
    border-width: 3px;
    border-style: solid;
    border-color: white;
    border-radius: 15px;
}
.player .container-cartas img{
    padding-top:10px;
    height: 90px;
}
.apuesta{
    padding-top: 50px;
}
.buttons{
    padding: 5px;
    margin: auto;
}


